---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Cardstat from "../components/Cardstat.astro";
import Button from "../components/Button.astro";
import Carousel from "../components/Carousel.astro";	

const festivalStats = [
	{ icon: "src/assets/icons/maps.svg", val: "3", txt: "Concerts" },
	{ icon: "src/assets/icons/artistes.svg", val: "3", txt: "Artistes" },
	{ icon: "src/assets/icons/musique.svg", val: "3", txt: "Scènes" },
];
---

<Layout>
	<Hero />
	<section class="flex justify-center py-8 px-3 relative z-[6]">
		<div class="flex gap-8 items-center w-full justify-center">
			{
				festivalStats.map((stat) => (
					<Cardstat
						iconPath={stat.icon}
						value={stat.val}
						label={stat.txt}
					/>
				))
			}
		</div>
	</section>
	<Button />
	<Carousel />
</Layout>
