---

---

<section
    class="flex justify-center pt-12 px-4 pb-16 bg-[var(--color-bright-red)]"
>
    <button
        type="button"
        class="inline-block bg-[var(--color-yellow)] text-[var(--color-bright-red)] py-4.5 px-7 rounded-xl no-underline font-bold w-[86%] max-w-[320px] text-center border-0 cursor-pointer transition-transform active:scale-95"
        >Réserver mes places</button
    >
</section>
