---
import "../styles/global.css";
import "@fontsource-variable/playfair-display";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!-- Encodage & viewport -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body class="bg-[var(--color-bright-red)]">
	<Header />
	<main>
		<slot />
	</main>
	<Footer />
</body>
